<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342398878440-pkundhijdrn4n3r0qhggp2jpbsq2ddjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342398878440-pkundhijdrn4n3r0qhggp2jpbsq2ddjj</string>
	<key>API_KEY</key>
	<string>AIzaSyBba7S3oLoL27BPeC7OuZqAXo0qwVPJWqs</string>
	<key>GCM_SENDER_ID</key>
	<string>342398878440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blindDangerDetector</string>
	<key>PROJECT_ID</key>
	<string>blind-danger-detection</string>
	<key>STORAGE_BUCKET</key>
	<string>blind-danger-detection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342398878440:ios:78b23cf810729a705fbf5d</string>
</dict>
</plist>